*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	margin: 2em;
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	color: #fff;
	background-color: #1d1b21;
}
hr {
	display: block;
	height: 2px;
	background-color: rgb(123, 196, 13);
	width: 10%;
}
span {
	color: gold;
}

.red {
	color: tomato;
}

.pink {
	color: rgb(243, 95, 243);
}

button {
	margin: 15px;
	padding: 15px 40px;
	background-color: transparent;
	border: 3px solid white;
	color: white;
	cursor: pointer;
}
button:hover {
	background-color: white;
	color: black;
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.lime {
	height: 300px;
	width: 300px;
	background-color: lime;
}
.blue {
	height: 230px;
	width: 230px;
	background-color: royalblue;
}
.gold {
	height: 150px;
	width: 150px;
	background-color: gold;
}
.purple {
	width: 100px;
	height: 100px;
	background-color: purple;
}

.test {
	text-align: center;
	margin-top: 20px;
	padding: 20px 40px;
	border-radius: 8px;
	background-color: #fff;
	color: #333;
}
