*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	margin: 2em;
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	color: #fff;
	background-color: #1d1b21;
	overflow: hidden;
}
hr {
	display: block;
	height: 2px;
	background-color: rgb(123, 196, 13);
	width: 10%;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
span {
	color: rgb(255, 0, 149);
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 600px;
	min-height: 200px;
	padding: 30px;
	border-radius: 8px;
	background-color: #fff;
	color: #333;
}

.fun-fact {
    margin-top: 20px;
}
